.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 857px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 214px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 287px 0 332px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 30px 287px 0 332px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #478ac9, #db545a);
  margin: -25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 232px;
    margin-right: 187px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 187px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 122px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 77px;
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 46px;
}